<template>
  <v-container class="fill-height">
    <v-row class="fill-height" justify="center">
      <v-col cols="5">
        <ChatBox />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import ChatBox from "@/modules/chat/components/ChatBox.vue";

export default {
  name: "Shell",
  components: {
    ChatBox,
  },
};
</script>

<style>
</style>