<template>
  <v-app>
    <Shell />
  </v-app>
</template>

<script>
import Shell from "@/modules/shell/Shell.vue";

export default {
  name: "App",

  components: {
    Shell,
  },

  data: () => ({
    //
  }),
};
</script>

<style>
.scroll {
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: #0f0f0f25;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #0f0f0f25;
  border-radius: 10px;
}
</style>