<template>
  <v-card height="100%">
    <v-card-text>
      <MessageList />
      <v-text-field
      class="mt-5"
      placeholder="הקלד הודעה"
      filled
      rounded
      hide-details
      append-icon="mdi-reply"
      />
    </v-card-text>
  </v-card>
</template>

<script>
import MessageList from "./MessageList.vue";
export default {
  name: "ChatBox",
  components: { MessageList },
};
</script>

<style>
</style>