<template>
  <v-alert text color="white">
    <span :class="peepee">{{message.sender}}</span>
    <div>{{message.content}}</div>
  </v-alert>
</template>

<script>
export default {
  name: "MessageItem",
  data:() => ({}),
  props: {
    message: {
      type: Object,
      required: true,
      default:() => ({
          sender:"נועה המתכנתת",
          content:"פאק"
      }),
    },
  },
  computed: {
    peepee() {
      let color = "grey";
      let brightness = "";
      switch (this.message.sender) {
        case "נועה": {
          color = "pink";
          brightness = "lighten-2";
          break;
        }
        case "הדר": {
          color = "light-green";
          brightness = "lighten-1";
          break;
        }
        case "נגה": {
          color = "purple";
          brightness = "lighten-2";
          break;
        }
        case "יעל": {
          color = "blue";
          brightness = "accent-2";
          break;
        }
      }
      return `font-weight-bold ${color}--text text--${brightness}`;
    },
  },
  created(){
      console.log('yay',JSON.parse(JSON.stringify(this.message)));
  }
};
</script>

<style>
</style>