<template>
  <div class="scroll" style="height: 455px;">
    <MessageItem v-for="(item, i) in messages" :key="i" :message="item" />
  </div>
</template>

<script>
import MessageItem from "./MessageItem.vue";
export default {
  name: "MessageList",
  components: { MessageItem },
  data: () => ({
    messages: [
      {
        id: 2,
        sender: "הדר",
        content: `פרט חשוב על הסיפור של אדם ואייבורי:
בפרקים 1-2 אדם אוסף את השיער (זה גם כתוב) 
ואז בפרק 3 הוא מופיע עם שיער פזור ואז אייבורי אומר לו,
 "יפה לך פזור" ומאז, קאנונית, אדם מסתובב אך ורק עם פזור 
(זה מוזכר לאורך הפרקים הבאים). פשוט חשוב לי שתשימו לב. 
זה כי מבחינתו אייבורי אמא שזה יפה יותר.`,
      },
      {
        id: 1,
        sender: "נועה",
        content: "מוד וקין",
      },
      {
        id: 3,
        sender: "יעל",
        content: "יכחעילגחכעילגכ",
      },
      {
        id: 4,
        sender: "נגה",
        content: "כן",
      },
            {
        id: 5,
        sender: "נגה",
        content: "כן",
      },
            {
        id: 6,
        sender: "נגה",
        content: "כן",
      },
    ],
  }),
};
</script>

<style>
.bla {
    overflow-y: auto;
}
</style>